<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ftp.dll" version="2.0.18141.1053" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="M2Mqtt" version="4.3.0.0" targetFramework="net47" />
  <package id="RestSharp" version="106.5.4" targetFramework="net47" />
  <package id="taglib" version="2.1.0.0" targetFramework="net45" />
</packages>